<a href="https://colab.research.google.com/github/TanmayBhayani/Hamoye/blob/main/HamoyeAquiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Imports**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
df = pd.read_csv(r'/content/drive/MyDrive/Data/FoodBalanceSheets_E_Africa_NOFLAG.csv',encoding='ISO-8859-1')
print(df.head())

   Area Code     Area  Item Code  ...     Y2016     Y2017     Y2018
0          4  Algeria       2501  ...  40551.00  41389.00  42228.00
1          4  Algeria       2501  ...      0.00      0.00      0.00
2          4  Algeria       2901  ...   3372.00   3341.00   3322.00
3          4  Algeria       2901  ...     94.72     92.82     91.83
4          4  Algeria       2901  ...     77.40     80.19     77.28

[5 rows x 12 columns]

In [3]:
df['Y2014'].mean()

134.19628213767805

In [4]:
df.describe()

          Area Code     Item Code  ...          Y2017          Y2018
count  60943.000000  60943.000000  ...   59437.000000   59507.000000
mean     134.265576   2687.176706  ...     140.917765     143.758381
std       72.605709    146.055739  ...    1671.862359    1710.782658
min        4.000000   2501.000000  ...   -1582.000000   -3396.000000
25%       74.000000   2562.000000  ...       0.000000       0.000000
50%      136.000000   2630.000000  ...       0.100000       0.070000
75%      195.000000   2775.000000  ...       9.000000       9.000000
max      276.000000   2961.000000  ...  190873.000000  195875.000000

[8 rows x 8 columns]

In [6]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [ ]:
df.groupby('Area Code')['Area Code'].count()

In [13]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
60938    False
60939    False
60940    False
60941    False
60942    False
Length: 60943, dtype: bool

In [20]:
df1 = pd.concat([df,df[:20000]]).reset_index(drop=True)

In [23]:
df1.duplicated().count()

80943

In [26]:
df.head(5)

   Area Code     Area  Item Code  ...     Y2016     Y2017     Y2018
0          4  Algeria       2501  ...  40551.00  41389.00  42228.00
1          4  Algeria       2501  ...      0.00      0.00      0.00
2          4  Algeria       2901  ...   3372.00   3341.00   3322.00
3          4  Algeria       2901  ...     94.72     92.82     91.83
4          4  Algeria       2901  ...     77.40     80.19     77.28

[5 rows x 12 columns]

In [34]:
count = 0
l = df['Item'].unique()

In [ ]:
l

In [33]:
for item in l:
  if item == "Animal Fat":
    count += 1

0

In [36]:
df['Y2015'].mean()

135.23596649549236

In [68]:
df.loc[df['Item'] == 'Animal Fat'].iloc[:,7:].sum()

Y2014    0.0
Y2015    0.0
Y2016    0.0
Y2017    0.0
Y2018    0.0
dtype: float64

In [48]:
df.loc[df['Element'] == 'Production'].iloc[:,7:].sum()

Y2014    1931287.75
Y2015    1947019.39
Y2016    1943537.15
Y2017    2030056.89
Y2018    2075072.89
dtype: float64

In [49]:
df.loc[df['Element'] == 'Import Quantity'].iloc[:,7:].sum()

Y2014    274144.48
Y2015    267018.46
Y2016    286582.78
Y2017    294559.09
Y2018    287997.09
dtype: float64

In [50]:
df.loc[df['Element'] == 'Domestic supply quantity'].iloc[:,7:].sum()

Y2014    1996716.35
Y2015    2021493.55
Y2016    2044842.70
Y2017    2088198.10
Y2018    2161192.10
dtype: float64

In [53]:
df.loc[df['Element'] == 'Food supply (kcal/capita/day)'].iloc[:,7:].sum()

Y2014    454257.0
Y2015    453383.0
Y2016    451810.0
Y2017    454681.0
Y2018    455261.0
dtype: float64

In [52]:
df.loc[df['Element'] == 'Food supply quantity (kg/capita/yr)'].iloc[:,7:].sum()

Y2014    49650.63
Y2015    49345.13
Y2016    48985.28
Y2017    48690.04
Y2018    49056.85
dtype: float64

In [65]:
df.loc[df['Element'] == 'Protein supply quantity (g/capita/day)'].iloc[:,7:].sum()

Y2014    11836.46
Y2015    11833.95
Y2016    11779.69
Y2017    11842.45
Y2018    11833.56
dtype: float64

In [66]:
df.loc[df['Element'] == 'Seed'].iloc[:,7:].sum()

Y2014    21922.92
Y2015    23976.82
Y2016    23389.20
Y2017    24870.14
Y2018    25263.14
dtype: float64

In [67]:
df.loc[df['Element'] == 'Fat supply quantity (g/capita/day)'].iloc[:,7:].sum()

Y2014    10225.56
Y2015    10235.74
Y2016    10102.77
Y2017    10253.84
Y2018    10258.69
dtype: float64

In [61]:
alge = df[df['Area'] == 'Algeria']

In [63]:
alge.loc[df['Element'] == 'Import Quantity'].iloc[:,7:].sum()

Y2014    34940.12
Y2015    37841.91
Y2016    36736.08
Y2017    36059.29
Y2018    36238.29
dtype: float64

In [60]:
len(df['Area'].unique())

49